@charset "utf-8"

$cut: 600px

#research-sec
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 100%
    max-width: 960px
    margin: 0 auto
    @media only screen and (min-width: $cut)
        width: 100%

.research-projects
    margin: 20px auto
    @media only screen and (min-width: $cut)
        display: flex
        align-items: stretch
    img
        max-width: 100%
        height: auto
        border-radius: 5px
    h5
        margin: 0
    p
        margin-right: 5px

.research-contents
    margin-bottom: 5%
    margin-right: 5%
    @media only screen and (min-width: $cut)
        display: flex
        flex: 1
        flex-direction: column
        justify-content: center
    p
        vertical-align: middle

.research-images-right
    @media only screen and (min-width: $cut)
        display: flex
        flex: 1
        flex-direction: column
        justify-content: center
    img
        vertical-align: center
        @media only screen and (min-width: $cut)
            float: right

$project-purple: #6f42c1
$project-main: #000000

.project-link
    display: inline-block
    margin: 10px 0px
    padding: 5px
    color: $project-main
    background-color: transparent
    border: 1px solid $project-main
    border-radius: 10px
    text-align: center
    outline: none
    text-decoration: none
    cursor: pointer
    transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out
    &:hover
        background-color: $project-purple
        border-color: $project-purple
        color: #fff
        transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in
    &:active 
        background-color: $project-purple
        border-color: $project-purple
        color: #fff
        transition: color 0.3s ease-in, background-color 0.3s ease-in, border-color 0.3s ease-in
